@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1010px; margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}

/*topBar*/
.topBar{height:31px; background-color:#F7F7F7;line-height:31px;}
.collection{background:url(../images/icons/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px;background-color:#1D7AD9;}
.logo{padding-left:0;padding-top:0;}

.logoword{ height:85px; width:136px; background-color: #3CF;  }
.logoword p{ margin-top:13px; margin-left:12px;font-family:"Monotype Corsiva"; font-size:31px; color:#F90; }


/*search*/
.search_box{width:430px;padding-top:23px;padding-left:135px;}
/*.search_text{width:350px;height:14px;line-height:14px;padding:11px 5px 10px;background-color:#FFF;}*/
.search_text{width:350px;height:35px;line-height:35px\9;padding:0 5px;background-color:#FFF;}
.search_btn{width:70px;height:35px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑";background-color:#FF8C00;color:#FFF;}

/*购物车*/
.shopCart{width:176px;height:35px;background-color: #FF8C00; margin-top:23px; font-size:14px; font-family:"Microsoft YaHei","微软雅黑"; color:#FFF; line-height:35px; margin-right: 22px; display:inline-block;}
.shopText{ display:inline-block; height:100%; width:107px; border-right:#E27A00 solid 1px; background: url(../images/icons/shopCart.jpg) 10px center no-repeat; text-indent:40px;}
.shopNum{display:inline-block; width: 45px; height: 35px; /*border-left: #FF9C01 solid 1px;*/ background:url(../images/icons/shanjiao.jpg) 20px center no-repeat; text-align: right; padding-right:19px;}

/*导航*/
.navBox{height: 35px; background-color:#1369C0; color:#FFF;}
.shopClass{width:200px; position:relative;}
.shopClass h3{text-align:center;line-height:35px;}
.shopClass i{width:11px; height:7px; overflow:hidden; background:url(../images/icons/down.jpg) left center no-repeat; display:inline-block; margin-left:11px;}
.nav,.shopClass h3{font-family:"Microsoft YaHei","微软雅黑"; }
.nav{line-height:35px;}
.nav li{float:left;}
.nav a{height:35px; display:inline-block; padding:0 35px; color:#FFF;}
.nav .active{background-color:#4593FD;}

/*商品弹出列表*/
.shopClass_show{background-color:#4593FD; position:absolute; left:0; top:35px; width:100%; padding-bottom:1px;}
.shopClass_item{padding:13px 10px; border-bottom:#3487F2 solid 1px; border-top: #5AA1FE solid 1px; line-height:23px;}
/*line-height:16px;*/

.shopClass_item dt{height:29px; line-height:1; overflow:hidden; background:url(../images/icons/shop_sj.jpg) right center no-repeat;}
/*height:21px;*/

.shopClass_item .b{/*font-family:"Microsoft Yahei","微软雅黑"; font-size:14px; font-weight:bold;*/font:14px/1 "Microsoft YaHei","微软雅黑"; }
/*font:12px/1*/

.shopClass_item a{color:#FFF;}
.shopClass_item a:hover{text-decoration: underline;}
.shopClass_item .aLink{width:74px; height:22px; font-size:14px; background: url(../images/icons/alink.png) left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}

/*shopClass_item active 状态*/
.shopClass_active{background-color:#FFF; border-left:#4593fd solid 1px;}
.shopClass_active dt{background:none;}

.shopClass_active a{color:#000;}
.shopClass_active .aLink{color:#FFF; text-decoration:none;}
/*弹出的菜单*/
.shopClass_list{width:568px; border:#CCC solid 1px; position:absolute; left:190px; top:35px;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding: 10px 0; border-bottom:#CCC solid 1px;}
.shopList_item dt{ color:#4b87d9; line-height:24px; font-weight:bold; height:24px;}
.shopList_item dd{padding-left:68px; line-height:24px; margin-top:-24px;}
.shopList_item dd a{margin-right:12px;}
.shopList_links{padding:15px 0;}
.shopList_links a{color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{width:11px; height:7px; background: url(../images/icons/shop_sj.jpg) left center no-repeat; display:inline-block; margin-left:7px;}

/*top-banner部分*/
.banner{ margin-bottom:15px;}
.top-banner_bar{width:810px; float:right; position:relative; overflow:hidden;}
.top-imgBox{position:absolute; margin-left:0; top:0;}
.top-imgBox li{float:left; display: inline-block;}
.top-imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color: #666; border:1px solid #333; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#ff7700;}
.banner_big,
.banner_big img{width:810px; height:400px;}
.banner_big .top-imgBox{width:3240px; height:400px;}

/*第1部分的动态箭头*/
.arrow, .sm-arrow { cursor: pointer; padding-bottom:5px;  line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top:50%; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow, .sm-arrow:hover { background-color: RGBA(0,0,0,.7);}
#prev,
#sm-prev { left: 20px;}
#next,
#sm-next{ right: 20px;}
.pics{left:10px;}

/*第2部分*/
.new-shopList_top h2{ font-family: "Times New Roman", Times, serif; color: #36C;}
.new-shopList_top h3{color: #F66;}

/*第3部分down-banner*/
.down-banner_bar{ width:400px; height:550px; overflow:hidden;float:left; position:relative; margin-right:2px;}
.down-imgBox{ list-style:none; width:1200px; height:550px;position:absolute;} 
.down-imgBox li{float:left; display:inline-block;}
.down-imgBox li img{width:400px; height:550px;}
/*包含三张图片，每张400px宽度*/

/*第3部分的动态箭头*/
.smallbuttons{position:absolute; width:100%; bottom: 10px;text-align:center;}
.smallbuttons span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #999;
    border: 1px solid rgba(255,255,255,.3);
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.smallbuttons .current {
    background-color: #F60;
    border: 1px solid #FFF;
    }

/*商品标题*/
.shopTit{height:44px; font-family:"Microsoft YaHei","微软雅黑";line-height:44px; margin-bottom:15px;}
.shopTit h3{font-size:24px; float:left; font-weight:normal; padding-left:15px;}
.icon{width:44px; height:44px; background:url(../images/icons/shop_icon.jpg)
left top no-repeat;float:left;}

.more{font-size:15px;float:right; font-family:"宋体"；}
.more:hover{text-decoration:underline; color:#00F;}

/*商品列表*/
.shopList .down-leftArea{width:400px; height:550px;}
.shopList .down-rightArea{width:600px;  height:550px; overflow:hidden;}
/*border: #999 solid 1px; border-bottom:#FF7201 solid 3px;*/


/*商品列表-右侧*/
.shopList{margin-bottom:15px; border-top: #0CF solid 2px; }
.FlashshopList{height:560px; border-top: #F90 solid 2px; border-bottom : #F90 solid 2px;}

.shopList_top, 
.shopList_sm{margin-right:-4px;}

.shop_item{width:300px;  height:349px;  text-align: center;font-family:"Microsoft YaHei","微软雅黑"; float:left; margin-right:5px;}
/*border-right: #999 solid 1px; border-bottom: #999 solid 1px;*/

.shop_img{height:290px;}
.shop_img img{width: 100%; height:290px; display:block;}
.shop_item h3 { margin-top:4px; margin-bottom:2px; font-size:16px;color:#FF7300; line-height:18px;}
h4 {font-size:13px;color:#39F; }

/*新增加的*/
.new-shop_item{width:252px; height:315px; text-align: center; float:left;}

/*商品列表-小*/
.shopItem_sm{ width:200px;  height:199px; float:left;}
/*border-right: #999 solid 1px;*/

.shopItem_smImg{width:200px; height:170px; text-align:center; float:left;}
.shopItem_smImg img{width:200px; height:170px;}
.shopItem_text{ width:200px; height:29px;float:left; text-align:center; }
.shopItem_text p{color:#ff7300;}
.shopItem_text h3{font-family:"Microsoft YaHei","微软雅黑"; font-size:16px; font-weight:bold; color:#FF7300; line-height:20px;}

/*底部*/
.footer{ font-size:15px; text-align:center; line-height:24px; padding:30px 0; }
/*background-color:#D4D4D4;*/ 
.footer i{ font-style:normal; margin:0 5px;}
.footer a{ color:#000;}
.footer a:hover{color:#F60;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:20px; margin-top:5px;}
.appstore,
.socialmedia{display:inline-block;}
.appstore{ padding-right: 8px; border-right:#666 dotted 1px;}
.socialmedia{padding-left:5px;}

